/* Complete the CSS styling according to the provided design */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    background-image: url('./images/table.png');
    background-size: cover;
    background-color: #35654D;
    color: white;
    text-align: center;
    font-weight: bold;
}

h1 {
    color: goldenrod;
    padding: 10px 0;
}

#message-el {
    font-style: italic;
}
